.header__input--color {
  border-radius: 0.8rem;
  color: #101426;
  background: #F7F7F8 url('../img/header/find.svg');
  background-repeat: no-repeat;
  background-position-x: 1.9rem;
  background-position-y: 27.8%;;
  background-size: 2rem;
  font-family: 'Inter';
  margin-left: 2.2rem;
}