.edge__text-services{
    font-family: Inter;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.3rem;
    color: #2B3350;
}

@media (max-width: 48em) {
    .edge__text-services {
        font-family: Inter;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.1rem;

    }
}











